@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
    background-image: url('../img/bg.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    display: grid;
    background: linear-gradient(rgb(148, 220, 148), rgb(213, 213, 83));
    width: 90vmin;
    height: 92vmin;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head {
    background: linear-gradient(red, yellow);
    border: .2vmin solid purple;
    border-radius: 9px;
    transform: scale(1.02);
}


.snake {
    background-color: purple;
    border: .2vmin solid rgb(232, 228, 232);
    border-radius: 12px;
}


.food {
    background-color: rgb(184, 85, 209);
    border: .2vmin solid rgb(36, 1, 1);
    border-radius: 12px;

}

#scoreBox {
    position: absolute;
    top: 9px;
    right: 145px;
    font-family: 'New Tegomin';
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
}

.highScore {
    position: absolute;
    top: 55px;
    right: 53px;
    font-family: 'New Tegomin';
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    /* visibility: hidden; */
}